html, body {
	background: url('../image/image.jpg') no-repeat center center fixed;
	background-size: 100% 100%;
}

.center {
	text-align: center;
}

.display {
	display: none;
}

.jumbotron {
	margin-top: 2%;
	background: rgba(255, 11, 0, 0.5);
}

.radio {
	font-size: 20px;
	position: relative;
	left: 30%;
}
