html {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	background: url('../image/image.jpg') no-repeat center center fixed;
	background-size: cover;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: 'Galindo', cursive;
}

@font-face {
	font-family: Dead Kansas;
	src: url('css/DeadKansas.ttf');
}

.center {
	text-align: center;
}

.margin-top-10 {
	margin-top: 10%;
}

.margin-top-5 {
	margin-top: 5%;
}

.green {
	color: rgba(106, 175, 88, 0.9);
}

.yellow {
	color: rgba(253, 226, 96, 0.7);
}

.white {
	color: rgba(207, 251, 220, 0.9);
}

.quiz {
	font-size: 2em;
	width: 100%;
	min-height: 100%;
	position: absolute;
	display: none;
	z-index: 1000;
	background:-webkit-gradient(linear, 80% 20%, 10% 21%, from(#81B100), to(#000000));
}

.stat {
	font-weight: bold;
	font-size: 150%;
}

#new {
	background: rgba(106, 175, 88, 0.9);
	color: rgba(6, 8, 10, 1);
	margin-bottom: 2%;
}

#new:hover {
	color: rgba(6, 8, 10, 0.6);
}

#submit {
	border-radius: 5px;
	background: rgba(106, 175, 88, 0.9);
	color: rgba(6, 8, 10, 1);
}

#submit:hover {
	color: rgba(6, 8, 10, 0.7);
}

.intro {
	display: none;
}

.jumbotron {
	background: rgba(6, 8, 10, 0.4);
	margin-top: 30%;
}

.startBtn {
	background: rgba(6, 8, 10, 0.5);
}

.startBtn:hover {
	background: rgba(253, 226, 96, 0.9);
}