.jumbotron {
	margin-top: 2%;
	background: url(http://wallpaper.ultradownloads.com.br/286680_Papel-de-Parede-Personagens-The-Walking-Dead_1920x1080.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.space {
	height: 400px;
} 